<div class="section-sobre-nosotros">
    <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>
            En Mario Muebles nos especializamos en crear espacios que reflejen tu estilo único y se adapten a tus necesidades. Desde elegantes salas de estar hasta funcionales cocinas y dormitorios acogedores, trabajamos para transformar cada rincón de tu hogar en un espacio lleno de personalidad y confort. </p>  
    
        <p>Cada pieza está diseñada con precisión artesanal, utilizando materiales de la más alta calidad para garantizar una durabilidad excepcional y un diseño atemporal que se mantiene relevante a lo largo de los años.

            Nos apasiona combinar funcionalidad con estética, ofreciendo soluciones innovadoras para optimizar tu espacio sin comprometer el estilo. </p>

        <p>Nuestra amplia gama incluye desde sofás modulares y mesas multifuncionales hasta armarios personalizados y decoraciones que aportan ese toque especial que hace la diferencia. </p>
            
        <p> En Mario Muebles, entendemos que cada hogar tiene una historia que contar. Por eso, trabajamos contigo para seleccionar piezas que no solo encajen con tu visión, sino que también mejoren tu calidad de vida. </p> 
        <p>Contamos con un equipo de expertos en diseño de interiores que están listos para asesorarte en cada paso del camino, asegurando que el resultado final sea un reflejo de tus gustos y aspiraciones. </p>
            
        <p>Además, nos enorgullece ser responsables con el medio ambiente, incorporando prácticas sostenibles en cada etapa de nuestro proceso de producción. Creemos en la importancia de cuidar nuestro planeta mientras ayudamos a nuestros clientes a crear hogares acogedores y llenos de vida. </p>
            
        <p>Déjanos ayudarte a construir un ambiente que inspire creatividad, promueva la relajación y se convierta en el escenario perfecto para tus momentos más preciados. En Mario Muebles, cada detalle cuenta, porque sabemos que el verdadero lujo está en los acabados que hacen de tu casa un verdadero hogar.
        </p>
    </div>
</div>